@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face{
	font-family: 'Avenir Next', sans-serif;
	font-display: swap;
	src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

body {
	font-family: 'Inter', sans-serif;
}
